@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo-inicio {
  background-image: url("/public/fondo.png");
  background-position: center;
  background-size: cover;
  background-position-y: top;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.confetti {
  width: 10px;
  height: 15px;
  background-color: #ffcc00;
  position: absolute;
  animation: confetti-fall 3s linear infinite;
}

.emoji {
  position: absolute;
  animation: confetti-fall 6s linear infinite;
}

.confetti:nth-child(2n) {
  background-color: #ff6699;
}

.confetti:nth-child(3n) {
  background-color: #66ccff;
}

.confetti:nth-child(4n) {
  background-color: #99ff99;
}
